html, body {
  height: 100%;
}
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  // background-color: #fafafa;
  transition: margin 0.3s;

  > .block {
    display: table-row;
    height: 1px;
  }

  > .push {
    height: auto;
    .content > .container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
